@media all and (max-width: 1380px) {
  #award ul li div.social div.middle p {
    font-size: 18px;
}
}
@media all and (max-width: 1280px) {
  #hero header nav.right {
    width: 55%;
  }
  #hero #spotlight section.content div.left h2 {
    font-size: 45px;
  }
  #hero #spotlight section.content div.left p {
    font-size: 18px;
  }
  #hero #spotlight section.content div.left div.box span {
    font-size: 15px;
  }
  #hero #spotlight section.content div.left div.box small {
    font-size: 13px;
  }

  #hero #spotlight section.content div.right div.bottom {
    bottom: 95px;
    left: -60px;
  }
  #award ul li {
    width: 23%;
  }
  #award ul li div.social div.top span {
    font-size: 12px;
  }
  #award ul li div.social div.middle p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #award ul li div.social div.bottom h5 {
    font-size: 13px;
  }
  #award ul li div.social {
    padding: 15px;
  }
  #information section.contact form button[type="submit"] {
    right: 110px;
    padding: 19px 18px;
  }
  #information section.contact form input[type="text"] {
    width: 55%;
    padding: 19px 18px;
  }
  footer div.bottom div.right ul li {
    font-size: 14px;
  }
}
@media all and (max-width: 1080px) {
  #award ul li {
    width: 22%;
  }
  #information section.contact form button[type="submit"] {
    width: 30%;
    right: 65px;
  }
  #information section.contact form input[type="text"] {
    width: 60%;
  }
  #award ul li div.social div.top div.square div.logo {
    width: 70%;
}
#award ul li div.social div.middle p {
  font-size: 14px;
}
  footer {
    padding: 0 0 45px 0;
  }
  footer div.top h1 a {
    width: 20%;
  }
  footer div.bottom div.right {
    width: 70%;
  }
  footer div.bottom div.left p {
    width: 65%;
  }
}
@media all and (max-width: 980px) {
  #hero header h1.left a {
    width: 75%;
  }
  #hero header nav.right {
    width: 20%;
}
  #hero header nav.right ul li {
    display: none;
  }
  #hero header nav.right ul li:last-child {
    display: block;
    width: 100%;
  }
  #hero header nav.right ul li a.button {
    padding: 13px 27px;
  }
  #hero #spotlight section.content div.left h2 {
    font-size: 35px;
  }
  #hero #spotlight section.content div.left p {
    font-size: 15px;
  }
  #hero #spotlight section.content div.left div.box {
    width: 50%;
    padding: 10px 0;
  }
  #hero #spotlight section.content div.left div.box span {
    font-size: 12px;
  }
  #hero #spotlight section.content div.left div.box small {
    font-size: 12px;
  }
  #hero #spotlight section.content div.right div.img {
    width: 100%;
  }
  #hero #spotlight section.content div.right {
    padding-top: 30px;
  }
  #hero #spotlight section.content div.right div.top {
    width: 40%;
    top: 35px;
    right: 20px;
  }
  #hero #spotlight section.content div.right div.bottom {
    bottom: 120px;
    left: -70px;
  }
  #award {
    padding: 50px 30px;
  }
  #award ul {
    flex-wrap: wrap;
  }
  #award ul li {
    width: 45%;
  }
  #award ul li:first-child {
    margin-bottom: 60px;
  }
  #award ul li:nth-child(2) {
    margin-bottom: 60px;
  }
  #award ul li div.social div.middle p {
    font-size: 18px;
  }
  #information section.contact {
    padding: 50px 40px;
  }
  #information section.contact h4 {
    font-size: 38px;
  }
  #information section.contact p {
    font-size: 16px;
  }
  #information section.contact form button[type="submit"] {
    width: 40%;
    right: -20px;
    padding: 15px 18px;
  }
  #information section.contact form input[type="text"] {
    width: 75%;
    padding: 15px 18px;
  }
  footer div.top h1 a {
    width: 25%;
  }
  footer div.bottom div.left p {
    width: 60%;
    font-size: 13px;
  }
  footer div.bottom div.right {
    width: 60%;
  }
  footer div.bottom div.right ul {
    flex-wrap: wrap;
  }
  footer div.bottom div.right ul li:nth-child(5) {
    display: none;
  }
  footer div.bottom div.right ul li:last-child {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  #hero header nav.right {
    width: 25%;
  }
  #hero #spotlight section.content div.left {
    width: 45%;
    padding: 30px 0;
  }
  #hero #spotlight section.content div.left h2 {
    font-size: 28px;
  }
  #hero #spotlight section.content div.left h2 {
    margin-bottom: 15px;
  }
  #hero #spotlight section.content div.left p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #hero #spotlight section.content div.left div.box span {
    display: none;
  }
  #hero #spotlight section.content div.left div.box small {
    font-size: 11px;
  }
  #hero #spotlight section.content div.left div.box {
    width: 50%;
    padding: 15px 0;
  }
  #hero #spotlight section.content div.right {
    padding-top: 15px;
  }
  #hero #spotlight section.content div.right div.bottom {
    bottom: 80px;
    left: -35px;
  }
  #award ul li div.social div.middle p {
    font-size: 16px;
  }
  #information {
    padding: 40px 0;
  }
  #information section.contact h4 {
    font-size: 25px;
  }
  #information section.contact p {
    font-size: 13px;
  }
  #information section.contact form button[type="submit"] {
    width: 47%;
    right: -30px;
    padding: 14px 15px;
    font-size: 12px;
  }
  #information section.contact form input[type="text"] {
    width: 75%;
    padding: 14px 10px;
    font-size: 12px;
  }
}
@media all and (max-width: 640px) {
  #hero header {
    height: 85px;
  }
  #hero header h1.left a {
    width: 55%;
  }
  #hero header nav.right {
    width: 25%;
  }
  #hero header nav.right ul li:last-child {
    height: 37px;
    width: 125px;
  }
  #hero header nav.right ul li a.button {
    padding: 9px 22px;
    font-size: 12px;
  }
  #hero #spotlight section.content div.left h2 {
    font-size: 25px;
  }
  #hero #spotlight section.content div.left p {
    font-size: 13px;
  }
  #hero #spotlight section.content div.left div.box {
    width: 67%;
    padding: 12px 0;
  }
  #hero #spotlight section.content div.right {
    width: 50%;
  }
  #hero #spotlight section.content div.right div.img {
    width: 240px;
  }
  #award ul li div.social {
    padding: 12px;
  }
  #award ul li div.social div.top {
    margin-bottom: 25px;
  }
  #award ul li div.social div.top div.square {
    padding: 10px;
  }
  #award ul li div.social div.top div.square div.logo {
    width: 55%;
  }
  #award ul li div.social div.top span {
    font-size: 10px;
  }
  #award ul li div.social div.middle small {
    font-size: 12px;
    margin-bottom: 15px;
  }
  #award ul li div.social div.middle p {
    font-size: 13px;
  }
  #award ul li div.social div.middle div.mount {
    width: 25%;
    margin: 30px 0;
  }
  #information section.contact h4 {
    font-size: 22px;
  }
  #information section.contact p {
    font-size: 11px;
  }
  #information section.contact {
    padding: 25px;
  }
  #information section.contact form input[type="text"] {
    width: 85%;
    padding: 13px 12px;
    font-size: 10px;
  }
  #information section.contact form button[type="submit"] {
    width: 53%;
    right: -50px;
    padding: 13px 15px;
    font-size: 10px;
  }
  footer {
    padding: 0px 0 20px 0;
  }
  footer div.top h1 a {
    width: 34%;
  }
  footer div.bottom div.left {
    width: 40%;
    padding-left: 10px;
  }
  footer div.bottom div.left p {
    width: 80%;
    font-size: 12px;
  }
  footer div.bottom div.right {
    width: 55%;
  }
  footer div.bottom div.right ul li {
    font-size: 12px;
  }
  footer div.bottom div.right ul li:last-child {
    font-size: 13px;
  }
}
@media all and (max-width: 480px) {
  #hero header nav.right {
    display: none;
  }
  #hero header h1.left {
    width: 100%;
  }
  #hero header h1.left a {
    width: 55%;
    margin: 0 auto;
  }
  #hero #spotlight section.content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  #hero #spotlight section.content div.right {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
  }
  #hero #spotlight section.content div.right div.img {
    width: 100%;
  }
  #hero #spotlight section.content div.right div.bottom {
    bottom: 15px;
    left: -30px;
  }
  #hero #spotlight section.content div.left {
    width: 90%;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
  }
  #hero #spotlight section.content div.left p {
    width: 100%;
  }
  #hero #spotlight section.content div.left div.box {
    width: 40%;
    padding: 14px 0;
    margin: 0 auto;
  }
  #award {
    padding: 20px 0px;
  }
  #award ul li {
    width: 48%;
  }
  #award ul li:first-child {
    margin-bottom: 20px;
  }
  #award ul li:nth-child(2) {
    margin-bottom: 20px;
  }
  #award ul li div.social {
    padding: 10px;
  }
  #award ul li div.social div.top div.square {
    padding: 8px;
  }
  #award ul li div.social div.top span {
    font-size: 9px;
  }
  #award ul li div.social div.middle p {
    font-size: 11px;
  }
  #award ul li div.social div.bottom h5 {
    font-size: 12px;
  }
  #information {
    padding: 25px 0;
  }
  #information section.contact {
    padding: 15px;
  }
  #information section.contact h4 {
    font-size: 18px;
  }
  #information section.contact p {
    margin-bottom: 25px;
    color: #8f8f8f;
  }
  #information section.contact form button[type="submit"] {
    width: 63%;
    right: -65px;
    padding: 10.5px 15px;
  }
  #information section.contact form input[type="text"] {
    width: 95%;
    padding: 11px 12px;
    font-size: 9px;
  }
  footer div.top h1 {
    display: block;
    width: 100%;
  }
  footer div.top h1 a {
    width: 50%;
    margin: 0 auto;
  }
  footer div.bottom div.left {
    display: none;
  }
  footer div.bottom div.right {
    width: 100%;
    padding-top: 20px;
  }
  footer div.bottom div.right ul li:last-child {
    margin-top: 20px;
  }
}
@media all and (max-width: 360px) {
  #hero #spotlight section.content div.left h2 {
    font-size: 20px;
  }
  #hero #spotlight section.content div.left p {
    font-size: 12px;
  }
  #hero #spotlight section.content div.left div.box small {
    font-size: 10px;
  }
  #hero #spotlight section.content div.left div.box {
    width: 42%;
    padding: 12px 0;
  }
  #award {
    padding: 35px 0px;
  }
  #award ul {
    justify-content: center;
  }
  #award ul li {
    width: 90%;
  }
  #award ul li div.social {
    padding: 25px;
  }
  #award ul li div.social div.top div.square div.logo {
    width: 75%;
  }
  #award ul li div.social div.top span {
    font-size: 12px;
  }
  #award ul li div.social div.middle small {
    font-size: 15px;
  }
  #award ul li div.social div.middle p {
    font-size: 18px;
  }
  #award ul li div.social div.middle div.mount {
    width: 20%;
    margin: 25px 0;
  }
  #award ul li div.social div.bottom h5 {
    font-size: 15px;
  }
  #award ul li:first-child {
    margin-bottom: 35px;
  }
  #award ul li:nth-child(2) {
    margin-bottom: 35px;
  }
  #award ul li:nth-child(3) {
    margin-bottom: 35px;
  }
  #information section.contact h4 {
    font-size: 17px;
    margin-bottom: 40px;
  }
  #information section.contact h4 br {
    display: none;
  }
  #information section.contact p {
    display: none;
  }
  #information section.contact form input[type="text"] {
    width: 100%;
    padding: 12px 50px;
    font-size: 10px;
  }
  #information section.contact form {
    width: 75%;
    margin: 0 auto;
  }
  #information section.contact form button[type="submit"] {
    width: 63%;
    right: -65px;
    bottom: 0;
  }
  #information section.contact form button[type="submit"] {
    width: 63%;
    right: 35px;
    bottom: -45px;
  }
  #information section.contact {
    padding: 13px;
    height: 175px;
  }
}
