* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-size: 17px;
  background: #141414;
  color: #5b5a5d;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input,
textarea,
select {
  font-weight: 500;
}

a {
  color: #000;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

#hero {
}
#hero header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}
#hero header h1.left {
}
#hero header h1.left a {
  display: block;
  width: 80%;
}
#hero header h1.left a img {
  display: block;
  width: 100%;
}
#hero header nav.right {
  width: 45%;
}
#hero header nav.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero header nav.right ul li {
}
#hero header nav.right ul li:last-child {
  background: linear-gradient(
    to right,
    rgb(227 69 20 / 95%),
    rgb(161, 77, 155)
  );
  height: 52px;
  width: 132px;
  border-radius: 10px;
  padding: 1px;
}
#hero header nav.right ul li a {
  color: #5b5a5d;
  font-family: "Gordita Regular";
}
#hero header nav.right ul li a:hover {
  color: #fff;
}
#hero header nav.right ul li a.button {
  display: block;
  font-size: 17px;
  cursor: pointer;
  color: #d45945;
  background: #141414;
  border-radius: 10px;
  padding: 13px 23px;
}
#hero header nav.right ul li a.button:hover {
  background: transparent;
  color: #fff;
}
#hero #spotlight {
}
#hero #spotlight section.content {
  display: flex;
  justify-content: space-between;
}
#hero #spotlight section.content div.left {
  width: 45%;
  padding: 50px 0;
}
#hero #spotlight section.content div.left h2 {
  font-size: 50px;
  font-family: "Gordita Medium";
  color: #fff;
  margin-bottom: 20px;
}
#hero #spotlight section.content div.left h2 span {
  color: #fa5204;
}
#hero #spotlight section.content div.left p {
  color: #5b5a5d;
  font-size: 20px;
  margin-bottom: 40px;
  font-family: "Gordita Regular";
  width: 85%;
}
#hero #spotlight section.content div.left div.box {
  background: linear-gradient(
    to right,
    rgb(227 69 20 / 95%),
    rgb(161, 77, 155)
  );
  width: 40%;
  padding: 10px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
#hero #spotlight section.content div.left div.box span {
  display: block;
  font-family: "Gordita Regular";
  color: #7e7e7e;
}
#hero #spotlight section.content div.left div.box small {
  display: block;
  color: #fff;
  font-family: "Gordita Regular";
  font-size: 16px;
}
#hero #spotlight section.content div.right {
  width: 45%;
  position: relative;
}
#hero #spotlight section.content div.right div.img {
  width: 95%;
}
#hero #spotlight section.content div.right div.img img {
  display: block;
  width: 100%;
}
#hero #spotlight section.content div.right div.top {
  width: 30%;
  position: absolute;
  top: 45px;
  right: 85px;
  z-index: -1;
  filter: blur(45px);
  transform: rotate(60deg);
}
#hero #spotlight section.content div.right div.top img {
  display: block;
  width: 100%;
}
#hero #spotlight section.content div.right div.bottom {
  width: 35%;
  position: absolute;
  bottom: -10px;
  left: -70px;
  z-index: -1;
  filter: blur(45px);
}
#hero #spotlight section.content div.right div.bottom img {
  display: block;
  width: 100%;
}

#award {
  padding: 100px 0;
}
#award ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#award ul li {
  width: 24%;
  background: linear-gradient(
    to right,
    rgb(227 69 20 / 95%),
    rgb(161, 77, 155)
  );
  padding: 0.8px;
  border-radius: 10px;
  cursor: pointer;
}
#award ul li:hover {
  transform: scaleY(1.1);
  transition-duration: 0.5s;
}
#award ul li div.social {
  padding: 30px;
  background: #141414;
  border-radius: 10px;
  font-family: "Gordita Medium";
}
#award ul li div.social:hover {
  background: transparent;
  color: #fff;
}
#award ul li div.social div.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#award ul li div.social div.top div.square {
  background: #262525;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#award ul li div.social div.top div.square div.logo {
  width: 80%;
}
#award ul li div.social div.top div.square div.logo img {
  display: block;
  width: 100%;
}
#award ul li div.social div.top span {
  display: inline-block;
  font-size: 13px;
}
#award ul li div.social div.middle {
}
#award ul li div.social div.middle small {
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
}
#award ul li div.social div.middle p {
  color: #fff;
  font-size: 19px;
}
#award ul li div.social div.middle div.mount {
  width: 20%;
  margin: 40px 0;
}
#award ul li div.social div.middle div.mount img {
  display: block;
  width: 100%;
}
#award ul li div.social div.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#award ul li div.social div.bottom h5 {
  color: #fff;
  font-size: 15px;
}
#award ul li div.social div.bottom div.arrow {
  width: 15%;
}
#award ul li div.social div.bottom div.arrow img {
  display: block;
  width: 100%;
}

#information {
  padding: 80px 0;
}
#information section.wrapper {
  position: relative;
}
#information div.color_overlay {
  position: absolute;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    90deg,
    rgba(20, 20, 20, 0.9699230033810399) 32%,
    rgba(255, 81, 0, 0.8802871490393032) 63%
  );
  width: 100%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}
#information section.contact {
  background: url(../images/Footer\ -\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 40px;
  border-radius: 10px;
}
#information section.contact h4 {
  color: #fff;
  font-size: 45px;
  font-family: "Gordita Medium";
  margin-bottom: 20px;
}
#information section.contact p {
  color: #5b5a5d;
  font-size: 18px;
  font-family: "Gordita Medium";
  margin-bottom: 40px;
}
#information section.contact form {
  position: relative;
  width: 50%;
}

#information section.contact form input[type="text"] {
  color: #5b5a5d;
  background: #fff;
  padding: 25px 18px;
  border-radius: 10px;
  width: 46%;
  font-family: "Gordita Medium";
}
#information section.contact form button[type="submit"] {
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(227 69 20 / 100%),
    rgb(161, 77, 155)
  );
  padding: 25px 12px;
  border-radius: 10px;
  width: 26%;
  position: absolute;
  right: 180px;
  font-family: "Gordita Medium";
}

footer {
  padding: 30px 0 50px 0;
}
footer div.top {
  margin-bottom: 15px;
}
footer div.top h1 {
}
footer div.top h1 a {
  display: block;
  width: 15%;
}
footer div.top h1 a img {
  display: block;
  width: 100%;
}
footer div.bottom {
  display: flex;
  justify-content: space-between;
}
footer div.bottom div.left {
}
footer div.bottom div.left p {
  color: #5b5a5d;
  font-family: 'Gordita Medium';
  font-size: 15px;
  width: 60%;
}
footer div.bottom div.right {
  width: 55%;
}
footer div.bottom div.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div.bottom div.right ul li {
  font-family: 'Gordita Medium';
  font-size: 16px;
}
footer div.bottom div.right ul li:nth-child(5) {
  border-right: 2px solid #5b5a5d;
  height: 50px;
}
footer div.bottom div.right ul li a {
  color: #5b5a5d;
}
footer div.bottom div.right ul li a:hover {
  color: #fff;
}
